<!-- FILTER INPUT AND SHOW NEW FORM BTN -->
<div class="search-form container">
  <div class="row">
    <div class="col-md-2">
      <div class="input-group">
        <input type="text" id="filter" placeholder="Filter" class="form-control"
          ng-model="search">
      </div>
    </div>
    <div class="col-md-2">
      <label for="sortBy">&nbsp;Sort by &nbsp;</label>
      <select class="selectpicker" name="sortBy" ng-model="$ctrl.sortBy">
        <option value="-created_at">Date</option>
        <option value="title">Title</option>
      </select>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-2">
      <input class="btn btn-primary pull-right" type="button" value="New Post"  ng-click="$ctrl.isNewPostVisible = !$ctrl.isNewPostVisible">
    </div>
  </div>
</div>

<!-- NEW POST FORM -->
<div class="padding container" ng-show="$ctrl.isNewPostVisible">
  <form name="$ctrl.newPostForm" ng-submit="$ctrl.createPost($ctrl.post)" novalidate>
    <!-- NEW POST TITLE -->
    <div class="form-group" ng-class="{'has-error': $ctrl.newPostForm.title.$invalid && $ctrl.newPostForm.title.$touched}">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title"
        ng-model="$ctrl.post.title"
        required>
    </div>
    <!-- NEW POST DESCRIPTION -->
    <div class="form-group" ng-class="{'has-error': $ctrl.newPostForm.description.$invalid && $ctrl.newPostForm.description.$touched}">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" name="description"
        ng-model="$ctrl.post.description"
        required></textarea>
    </div>
    <!-- NEW POST PRICE -->
    <div class="form-group" ng-class="{'has-error': $ctrl.newPostForm.price.$invalid && $ctrl.newPostForm.price.$touched}">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" name="price"
        ng-model="$ctrl.post.price"
        required>
    </div>
    <!-- NEW POST ITEM IMAGE -->
    <div class="form-group" ng-class="{'has-error': $ctrl.newPostForm.item_image.$invalid && $ctrl.newPostForm.item_image.$touched}">
      <label for="item_image">Item Image (URL)</label>
      <input type="text" class="form-control" id="item_image" name="item_image"
        ng-model="$ctrl.post.item_image"
        required>
    </div>
    <!-- NEW POST SUBMIT -->
    <input class="btn btn-primary" type="submit" value="Submit Post"
      ng-disabled="$ctrl.newPostForm.$invalid">
  </form>
</div>

<!-- SHOW ALL POSTS-->
<div class="container">
  <div class="padding row post" ng-repeat="post in $ctrl.posts | filter:search | orderBy: $ctrl.sortBy track by $index">
    <div class="col-md-3">
      <img ng-src="{{ post.item_image }}" alt="" class="media"><br>
      <a ui-sref="post-edit({id: {{ post.id }}})">Edit Post</a>
    </div>
    <div class="col-md-9">
      <h3>{{ post.title }} | ${{ post.price }} <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="$ctrl.deletePost(post.id)"></span></h4>
      <h5>Posted <span am-time-ago="post.created_at"></h4>
      <p>{{ post.description }}</p>
    </div>
  </div>
</div>
